* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 80vh;

  background: linear-gradient(135deg, #a3526a, #1e293b, #0f172a);

  background-size: 400% 400%;

  animation: gradient 12s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.center-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
  background-color: #faf9f6;
}

.top-bar {
  /* To stay at top */
  background: #fff;
  position: sticky;
  top: 0px;
  z-index: 1000;
  width: 100%;

  /* Flex Box */
  display: flex;
  align-items: center;
  justify-content: space-between; /*Give space between items*/
  /*| |NAME|                   |Buttons=nav-bar|  | */
}

.name {
  color: black;
  justify-content: space-between;
  font-size: 2rem;
  padding-left: 12px;
}

/*makes buttons seemless */
.top-bar button {
  background: #fff;
  border: none;
  cursor: pointer;

  width: auto;
}

.top-bar a {
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* content on left, icons on right */
.nav-buttons {
  justify-content: space-between; /*First item to left, last item to right*/
  gap: 5px;
}

.resume_icon {
  width: 20px;
  height: 20px;
  display: block;
}

.short-intro {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  gap: 20px;
}

.left-section {
  align-items: center;
  max-width: 1200px;
  justify-content: center;

  padding-left: 20px;
  border-radius: 12px;
  padding: 40px;
  background-color: #faf9f6;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  height: 400px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 400px;
  border-radius: 12px;
  padding: 40px;
  background-color: #faf9f6;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 24px;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;

  /* Match your glass style */
  background: rgba(236, 231, 231, 0.58);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  color: #702424;

  transition: background 0.3s;
}

.back-to-top:hover {
  background: #faf9f6;
}

hr {
  height: 1px;
  outline: none;
  color: aliceblue;
}
/* About Me Section */
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.education {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  border-radius: 12px;
  padding: 40px;
  background-color: #faf9f6;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.work-exp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  border-radius: 12px;
  padding: 40px;
  background-color: #faf9f6;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

/* PROJECTS */

.projects {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 600px; */
  height: auto;
  padding: 40px;
  border-radius: 12px;
  background-color: #faf9f6;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  color: black;
  transition: box-shadow 0.3s;
}

.project-card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* subtle lift on hover */
}

.project-content {
  margin-top: 10px;
  margin-bottom: 20px;
}
