.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: auto;
  padding: 40px;
  border-radius: 12px;
  background-color: #f3e2af;
  box-shadow: 0 4px 16px rgba(187, 21, 21, 0.1);
  color: black;
  transition: box-shadow 0.3s;
}

.we-description {
  line-height: 1.6;
  font-family: "Mozilla Text", sans-serif;
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 25px;
}

.chart {
  display: flex;
  flex-direction: column; /* stacks image above caption */
  align-items: center; /* centers both horizontally */
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
  margin: 0 auto;
}

.chart caption {
  font-size: 0.9rem;
  color: #374151;
  text-align: center;
}

.image-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 600px; */
  height: auto;
  padding: 40px;
  border-radius: 12px;
}

.title {
  font-family: "Mozilla Text", sans-serif;
  font-size: large;
  margin-top: 5px;
  margin-bottom: 25px;
}
